@font-face {
  font-family: "NoirPro";
  font-display: swap;
  src: url("../fonts/NoirPro-BoldItalic.woff2") format("woff2"),
    url("../fonts/NoirPro-BoldItalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

* {
  font-family: "NoirPro";
}
html {
  font-size: calc(60px * (1920px));
  /* 1920px -.> 60px <- 100vh */
  /* 375 px-> 32px;  */
}

body {
  background: #838383;
  background-image: url(../img/bmw1.png);
  /* url(../img/bmw1.webp); */
  padding: 0;
  margin: 0;
  position: relative;
  background-repeat: no-repeat;
  background-position: bottom 100% right 50%;
  min-height: 100%;
  background-color: #6e6b6b00;
  background-origin: border-box;
  background-size: cover;
}
header {
  top: 0;
  height: 188px;
  width: 100vw;
}

.base-el {
  display: flex;
  justify-content: space-between;
  margin: 15px 3.33vw auto 3.3vw;
  align-self: flex-start;
  height: calc(44.7vw / 4.47);
}
.content {
  left: 0;
  top: 0;
  width: 44.7vw;
  height: calc(44.7vw / 4.47);
  font-size: 60px;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  position: sticky;
  color: #393939;
  display: flex;
  align-self: flex-start;
  justify-content: flex-start;
}
.logo {
}
.logo_bmw {
}
.lineage {
  height: 1px;
  max-width: 80%;
  width: 1792px;
  left: 64px;
  top: 187px;
  border: 2px solid;
  background: linear-gradient(
    90deg,
    rgba(243, 106, 29, 0) 0%,
    #f36a1d 48.23%,
    rgba(243, 106, 29, 0) 99.27%
  );
  border-image-source: linear-gradient(
    90deg,
    rgba(243, 106, 29, 0) 0%,
    #f36a1d 48.23%,
    rgba(243, 106, 29, 0) 99.27%
  );
  border-radius: 107px;
}
.description {
}
.description_start {
  /* position: relative; */
  width: 30px;
  height: 18px;
  left: 22px;
  top: 24px;

  /* xxl/ p */

  font-family: "NoirPro-Light";
  font-size: 20px;
  line-height: 72.7%;
  /* or 27px */

  letter-spacing: -0.05em;
  text-transform: uppercase;

  /* #999999 */

  color: #727272;
}
.direction {
}
.to-left {
}
.to-right {
}
.like_blok {
}
.like_img {
}

.like_stat-blok {
}
.social-media {
}
.ok {
  width: 44px;
  height: 44px;
  background:  url("../img/ok-normal.svg") no-repeat bottom 50% right 50%; 

}
.vk { 
  width: 44px;
  height: 44px;
  background:  url("../img/vk-diseble.svg") no-repeat bottom 50% right 50%;

}
.fc { 
  width: 44px;
  height: 44px;
  background:  url("../img/Facebook-diseble.svg") no-repeat bottom 50% right 50%; 

}
.ok:hover {
  background:  url("../img/ok-activ.svg") no-repeat bottom 50% right 50%
}
.vk {
  fill: #F36A1D;
  
}
  

.fc:hover {
}
