@font-face {
  font-family: NoirPro;
  font-display: swap;
  src: url("../fonts/NoirPro-BoldItalic.woff2") format("woff2"),url("../fonts/NoirPro-BoldItalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}